.App-main {
  background-color: rgb(68, 92, 47);
}

.Nav-bar {
  display: flex;
  justify-content: space-between;
  min-height: 10vh;
  margin: '0px 80px';
}

.Nav-bar .home {
  margin-right:auto;
  margin: 17px 10px;
}

.Nav-bar ul {
  list-style-type: none;
  display: flex;
}

.Nav-bar ul li {
  margin: 0 10px;
}

.Nav-bar ul li a {
  text-decoration: none;
  color: #ffff;
}

.Header {
  text-align: center;
}

.Card-decks {
  display: flex;
  margin: 120px 50px;
}

.Card-decks ul {
  list-style-type: none;
  display: flex;
}

.Card-decks ul li {
  margin: 0 50px;
}

.Card-decks ul li a {
  text-decoration: none;
  color: #ffff;
}

.About {
  width: auto;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 2px solid #ccc;
  border-bottom: .5px solid #ccc;
  display: flex;
  justify-content: center;
  border-color: black;
  margin-bottom: 0;
  margin-left: 30px;
  margin-right: 30px;
}

.About-content {
  width: auto;
  height: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 2px solid #ccc;
  border-top: .5px solid #ccc;
  display: flex;
  justify-content: center;
  border-color: black;
  margin-top: 0;
  margin-left: 30px;
  margin-right: 30px;
}