.Nav-bar {
  display: flex;
  justify-content: space-between;
  min-height: 10vh;
  margin: '0px 80px';
}

.Nav-bar .home {
  margin-right:auto;
  margin: 17px 10px;
}

.Nav-bar ul {
  list-style-type: none;
  display: flex;
}

.Nav-bar ul li {
  margin: 0 10px;
}

.Nav-bar ul li a {
  text-decoration: none;
  color: #ffff;
}

.Header {
  text-align: center;
}

.Card-decks {
  display: flex;
}

.About {
  display: flex
}
